<p>
    <div id="bestbook">
        @Ajax.ActionLink("Добавлено в корзину", "AddToCart", new { Controller = "Cart" }, new AjaxOptions { UpdateTargetId = "bestbook" }, new { role = "button", @class = "btn btn-info" })
    </div>
</p>

